
/*Heading*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(238, 184, 5, 0.226);
    padding: 10px 20px;
}
img{
    max-width: 100%;
}
.logo{
    max-width: 100px;
}
.company_identity{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    border: solid;
    min-height: 50px;
    font-size: 150%;
}

/*Content*/
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100px;
}
.menu a{
    display: flex;
    justify-content: center;
    width: 100px;
    border: solid;
    text-decoration: none;
    color: rgb(17, 17, 17);
    font: arial;
}
