
/*Heading*/
.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgba(238, 184, 5, 0.226);
    align-items: flex-end;
    padding: 10px 20px;
}
img {
    max-width: 100%;
}
.logo{
    max-width: 100px;
}
.company_name{
    font-size: 200%;
}
.login{
    display: flex;
    justify-content: space-around;
    padding: 10x 20x;
}
.logandsearch a{
    color:rgb(10, 10, 10);
    font: arial;
}

/*Content*/
.leftwing{
    background-image: url(../images/banner.jpeg);
    width: 100px;
    height: 100%;
}
.tags a{
    text-decoration: none;
    color: rgb(17, 17, 17);
    font: arial;
    border: 1px solid;
    display: flex;
    justify-content: center;
}
.tags{
    display: flex;
    flex-direction: column;
}
