.bag{
    background-color:rgb(221, 128, 16)
}
.img_logo{
    width: 100%;
}
.company_identity{
    border: solid;
    width: 30%;
}
.name{
    width: 100%;
    margin: 5px 0px 0px;
    font-size: 30px;
    font-family: arial;
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.searchbar_and_account{
    border: solid;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.search_bar input{
    width: 70%;
    font-size: 20px;
}
.search_bar button{
    font-size: 20px;
}
.account{
    margin-right: 15px;
}
.account a{
    text-decoration: none;
    width: 100%;
    color: black;
    font-size: 20px;
}